.titulos{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
}

.letter{
    font-family: 'Roboto Mono', monospace;
}
.underline{
    border-bottom: 1px solid transparent;    
    transition: all .5s ease-in;
}
.underline:hover{
    border-bottom: 4px solid white;
}

.imagen{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.opacity{
    opacity: 0.5;
}
.margin{
    margin-left: 200px;
    margin-top: 60px;
}

.formheight{
    width: 600px;
}
.height{
    height: 50px;
}
.primer-height{
    height: 100px;
}
.segundo-height{
    height:400px;
}
.padtop{
    padding-top: 50%;
}
.padlef{
    padding-left: 80px;
}
.tercer-height{
    height:90px;
}
.padtop1{
    padding-top: 120px;
}

.index{
    z-index: 20;
}
.indexx{
    z-index: -1;
}
.dark{
    background-color: #000000;
}
.cuarto-height{
    height: 250px;
}
.imagen2{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.height3{
    height:150px;
}
.height33{
    height: 400px;
}

.heightv2{
    height: 200px;
}
.heightv3{
    height: 10px;
}